<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Halaman Utama</title>
  <link rel="stylesheet" href="static/css/kkn2js.css" />
  <link href="https://fonts.googleapis.com/css2?family=Adamina&display=swap" rel="stylesheet"> 
</head>
  <div class="frame-utama">
    <img class="gambarutama" src="templates/images/sahh/gambarutama.png" />
    <div class="frame-top-header">
      <div class="backheader-1"></div>
      <img class="logo-binjaiku" src="templates/images/sahh/logoBinjaiku.png" />
      <div class="menuframe">
        <img class="menu" src="templates/images/sahh/menu.png" />
      </div>
      <div class="framepalingatas" style="display: none;">
      <div class="bc-2-pw-5"></div>
      <a href="/kkn5">
      <div class="h-5">Daya Tarik Wisata</div>
      </a>
      <a href="/kkn4">
      <div class="bc-2-pw-4"></div>
      <div class="h-4">Kehidupan Warga</div>
      </a>
      <a href="/kkn3">
      <div class="bc-2-pw-3"></div>
      <div class="h-3">Profil Wilayah</div>
      </a>
      <a href="/kkn2">
      <div class="bc-2-pw-2"></div>
      <div class="h-2">Tentang</div>
      </a>
      <a href="/kkn1">
      <div class="bc-2-pw-1"></div>
      <div class="h-1">Beranda</div>
      </a>
      <div class="bc-2-pwbackicoon">
      <img class="backicoon" src="templates/images/sahh/backicoon.svg" /></div>
      </div>
    </div>
      </div>
    <div class="frame-headline">
      <div class="back-body-1"></div>
      <div class="headline-utama-lp">
        Dari Mahasiswa, Cahaya Harapan Itu Datang
      </div>
      <div class="back-bodymobile"></div>
      <div class="subheadline-1">
        Kami percaya, perubahan dimulai dari hal sederhana. Tangan-tangan kecil
        kami menanam benih emas demi masa depan yang lebih cerah. KKN bukan
        sekadar pengabdian, tapi bukti nyata bahwa generasi muda siap membangun
        negeri
      </div>
      <div class="subheadline-to-cta">
        Jelajahi bagaimana tanah ini membentuk orang-orangnya dan bagaimana
        mereka membentuk masa depan.
      </div>
      <div class="buttonutama">
        <div class="back-ct-akiri" id="openMapButton"></div>
        <div class="ct-akiri">Mulai Menjelajah</div>
      </div>
    </div>
  </div>
  <div class="frame-present">
    <div class="back-kami"></div>
    <div class="bykami-headline">Dipersembahkan Oleh :</div>
    <div class="logopresent">
      <img class="logo-um" src="templates/images/sahh/logoUM.png" />
      <img class="logo-19" src="templates/images/sahh/logo19.png" />
    </div>
  </div>
  <div class="frametgh">
    <div class="backkonten"></div>
    <div class="tentang-kami">Tentang Kami</div>
    <div class="line-2"></div>
    <img class="fotoo-1" src="templates/images/sahh/fotoo1.png" />
    <div
      class="kami-adalah-kelompok-kkn-19-universitas-mulia-balikpapan-yang-pada-tahun-ini-diberi-kesempatan-untuk-mengabdi-di-desa-gunung-binjai-kelurahan-teritip-lebih-dari-sekedar-program-pengabdian-kkn-ini-menjadi-perjalanan-batin-dan-kebersamaan-yang-akan-kami-kenang-selamanya"
    >
      Kami adalah Kelompok KKN 19 Universitas Mulia Balikpapan, yang pada tahun
      ini diberi kesempatan untuk mengabdi di Desa Gunung Binjai, Kelurahan
      Teritip.
      <br />
      Lebih dari sekedar program pengabdian, KKN ini menjadi perjalanan batin
      dan kebersamaan yang akan kami kenang selamanya.
    </div>
    <img class="fotoo-2" src="templates/images/sahh/fotoo2.png" />
    <div
      class="setiap-foto-bukan-hanya-visual-dari-tawa-saat-bekerja-bersama-makan-dalam-satu-lingkaran-hingga-momen-momen-kecil-yang-mengikat-hati-kami-dengan-desa-ini-mereka-adalah-bukti-kasih-penerimaan-dan-hubungan-emosional-yang-terjalin-di-gunung-binjai"
    >
      Setiap foto bukan hanya visual! dari tawa saat bekerja bersama, makan
      dalam satu lingkaran, hingga momen-momen kecil yang mengikat hati kami
      dengan desa ini.
      <br />
      mereka adalah bukti kasih, penerimaan, dan hubungan emosional yang
      terjalin di Gunung Binjai.
    </div>
    <img class="fotoo-3" src="templates/images/sahh/fotoo3.png" />
    <div
      class="website-ini-kami-hadirkan-sebagai-bentuk-pelestarian-rasa-cinta-kami-terhadap-desa-gunung-binjai-melalui-pengamatan-wawancara-dan-interaksi-langsung-kami-mencoba-menangkap-identitas-kearifan-lokal-dan-cerita-cerita-berharga-dari-gunung-binjai-semua-itu-kami-abadikan-secara-digital-agar-warisan-budaya-nilai-sosial-dan-sejarah-desa-ini-tidak-hilang-ditelan-waktu-lewat-laman-ini-kami-berharap-siapa-pun-yang-melihat-bisa-merasakan-hangatnya-kebersamaan-yang-kami-rasakan-dan-bahwa-sekecil-apa-pun-kontribusi-jika-dilakukan-dengan-hati-bisa-membawa-makna-besar"
    >
      Website ini kami hadirkan sebagai bentuk pelestarian rasa cinta kami
      terhadap Desa Gunung Binjai.
      <br />
      <br />
      Melalui pengamatan, wawancara, dan interaksi langsung, kami mencoba
      menangkap identitas, kearifan lokal, dan cerita-cerita berharga dari
      Gunung Binjai. Semua itu kami abadikan secara digital agar warisan budaya,
      nilai sosial, dan sejarah desa ini tidak hilang ditelan waktu.
      <br />
      <br />
      Lewat laman ini, kami berharap siapa pun yang melihat bisa merasakan
      hangatnya kebersamaan yang kami rasakan dan bahwa sekecil apa pun
      kontribusi, jika dilakukan dengan hati, bisa membawa makna besar.
    </div>
  </div>
  <div class="framectaa">
    <div class="backfotobawah"></div>
    <img class="fotoobah" src="templates/images/sahh/fotoobah.png" />
    <div class="backfotobawah-0"></div>
    <div
      class="kami-mahasiswa-biasa-tapi-kami-percaya-dari-tangan-kecil-kami-tumbuh-masa-depan-yang-lebih-cerah"
    >
      “Kami, mahasiswa biasa, tapi kami percaya:
      <br />
      dari tangan kecil kami, tumbuh masa depan yang lebih cerah.”
    </div>
    <div
      class="salam-hangat-dari-kami-kelompok-kkn-19-universitas-mulia-balikpapan"
    >
      <span>
        <span
          class="salam-hangat-dari-kami-kelompok-kkn-19-universitas-mulia-balikpapan-span"
        >
          Salam hangat dari kami,
          <br />
        </span>
        <span
          class="salam-hangat-dari-kami-kelompok-kkn-19-universitas-mulia-balikpapan-span2"
        >
          <br />
          Kelompok KKN 19
          <br />
          Universitas Mulia Balikpapan
        </span>
      </span>
    </div>
  </div>
  <div class="framectaig">
    <div class="backfthaa-2"></div>
      <img class="fthaa-2" src="templates/images/sahh/fthaa2.png" />
      <div class="backtransp-bawh-1"></div>
      <div class="back-bodymobilebawah"></div>
      <div class="ct-aig">Klik Disini</div>
      <div class="back-ct-aig" id="openInstagram"></div>
      <div class="ttskctaig">
      Lihat keseruan, kebersamaan, dan jejak kecil kami selama KKN
      </div>
      <div class="backlogo-19-bawah"></div>
      <img class="logo-19-bwh" src="templates/images/sahh/logo19.png" />
      <div class="kkn-teritip-19">@kkn.teritip19</div>
      <div class="linebwhig"></div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const menuFrame = document.querySelector(".menuframe");
    const framePalingAtas = document.querySelector(".framepalingatas");
    const backButton = document.querySelector(".bc-2-pwbackicoon");

    // Tampilkan frame ketika menu diklik
    menuFrame.addEventListener("click", function() {
      framePalingAtas.style.display = "block";
    });

    // Sembunyikan frame ketika tombol kembali diklik
    backButton.addEventListener("click", function() {
      framePalingAtas.style.display = "none";
    });
  });

    document.addEventListener("DOMContentLoaded", function () {
    const openMapButton = document.getElementById('openMapButton');

    if (openMapButton) {
      openMapButton.addEventListener('click', function () {
        window.open(
          'https://www.google.com/maps/place/Gunung+Binjai/@-1.1223338,116.8921038,24287m/data=!3m1!1e3!4m6!3m5!1s0x2df14d0ece7dab51:0x481aa08cbb4f60a7!8m2!3d-1.1386753!4d116.9564051!16s%2Fg%2F11kjpsmm0c?entry=ttu&g_ep=EgoyMDI1MDgxMS4wIKXMDSoASAFQAw%3D%3D',
          '_blank'
        );
      });
    }
  });

    document.addEventListener("DOMContentLoaded", function () {
    const instagramButton = document.getElementById('openInstagram');

    if (instagramButton) {
      instagramButton.addEventListener('click', function () {
        window.open(
          'https://www.instagram.com/kkn.teritip19/',
          '_blank'
        );
      });
    }
  });
</script>
