<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Halaman Utama</title>
  <link rel="stylesheet" href="static/css/kkn4js.css" />
  <link href="https://fonts.googleapis.com/css2?family=Adamina&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="frame-utama">
    <video class="vidfix" autoplay muted loop playsinline>
    <source src="templates/videos/vidfix-kw.mp4" type="video/mp4" />
    Browser anda tidak mendukung pemutaran video.
    </video>
    <div class="frame-top-header">
      <div class="backheader-1"></div>
      <img class="logo-binjaiku" src="templates/images/sahh/logoBinjaiku.png" />
      <div class="menuframe">
        <img class="menu" src="templates/images/sahh/menu.png" />
      </div>
      <div class="framepalingatas" style="display: none;">
      <div class="bc-2-pw-5"></div>
      <a href="/kkn5">
      <div class="h-5">Daya Tarik Wisata</div>
      </a>
      <a href="/kkn4">
      <div class="bc-2-pw-4"></div>
      <div class="h-4">Kehidupan Warga</div>
      </a>
      <a href="/kkn3">
      <div class="bc-2-pw-3"></div>
      <div class="h-3">Profil Wilayah</div>
      </a>
      <a href="/kkn2">
      <div class="bc-2-pw-2"></div>
      <div class="h-2">Tentang</div>
      </a>
      <a href="/kkn1">
      <div class="bc-2-pw-1"></div>
      <div class="h-1">Beranda</div>
      </a>
      <div class="bc-2-pwbackicoon">
      <img class="backicoon" src="templates/images/sahh/backicoon.svg" /></div>
      </div>
    </div>
    </div>
    <div class="frame-headline">
      <div class="back-body-1"></div>
      <div class="headline-utama-lp">
        Kehidupan Warga,
        <br />
        Sumber Inspirasi yang Nyata
      </div>
      <div class="back-bodymobile"></div>
      <div class="subheadline-1">
        Di balik wajah desa yang sederhana tersimpan cerita tentang perjuangan
        kebersamaan dan harapan. Dari tokoh yang menggerakkan gotong royong yang
        menyatukan hingga anak-anak yang menatap masa depan dengan penuh
        keyakinan semuanya adalah kisah yang layak dikenang dan dibagikan.
      </div>
      <div class="subheadline-to-cta">
        Jelajahi bagaimana tanah ini membentuk orang-orangnya dan bagaimana
        mereka membentuk masa depan.
      </div>
      <div class="back-ct-akiri" id="openMapButton"></div>
      <div class="ct-akiri">Mulai Menjelajah</div>
    </div>
  </div>
  <div class="frame-present">
    <div class="back-kami"></div>
    <div class="bykami-headline">Dipersembahkan Oleh :</div>
    <img class="logo-um" src="templates/images/sahh/logoUM.png" />
    <img class="logo-19" src="templates/images/sahh/logo19.png" />
  </div>
  <div class="frame-konten">
    <div class="backkonten"></div>
    <div class="group-headisi">
      <div class="kehidupan-warga">KEHIDUPAN WARGA</div>
      <div class="line-2"></div>
    </div>
    <div class="frame-isi-1">
      <div class="b-backblur-1"></div>
      <div class="bhead-1">Kisah Inspiratif Tokoh Lokal</div>
      <div class="bsub-1">
        Dari keprihatinan lahirlah Pasar Pringgodani. Bagaimana satu ide
        sederhana bisa menggerakkan ratusan warga?
      </div>
      <div class="bback-1"></div>
      <div class="bcta-1">Baca Selengkapnya...</div>
      <img class="image-1-b-01" src="templates/images/sahh/image1_B01.png" />
    </div>
    <div class="frame-isi-2">
      <div class="c-backblur-1"></div>
      <div class="chead-1">Gotong Royong yang Menguatkan</div>
      <div class="csub-1">
        Di balik kesederhanaan hidup, warga Gunung Binjai menjaga tradisi
        kebersamaan. Apa rahasia yang membuat desa ini tetap kokoh?
      </div>
      <div class="cback-1"></div>
      <div class="ccta-1">Baca Selengkapnya...</div>
      <img class="image-1-c-01" src="templates/images/sahh/image1_C01.png" />
    </div>
    <div class="frame-isi-3">
      <div class="d-backblur-1"></div>
      <div class="dhead-1">Anak-anak sebagai Harapan Desa</div>
      <div class="dsub-1">
        Mereka tumbuh di tengah alam dan budaya yang kaya. Bagaimana masa kecil
        di desa ini membentuk generasi masa depan?
      </div>
      <div class="dback-1"></div>
      <div class="dcta-1">Baca Selengkapnya...</div>
      <img class="image-1-d-01" src="templates/images/sahh/Image1_D01.png" />
    </div>
  </div>
  <div class="frame-ai">
    <div class="back-kamiaii"></div>
    <div class="backfotobawah-0"></div>
    <div class="head-1-ai">Mari Gunakan fitur Tanya BinjaiAI</div>
    <div class="line-22"></div>
    <img class="maskotai" src="templates/images/sahh/maskotai.png" />
    <div class="sub-1-ai">
      Tanya BinjaiAI adalah asisten digital yang memudahkan siapa saja baik
      warga, pelajar, peneliti, hingga pemerintah untuk mencari informasi
      tentang Gunung Binjai dengan cepat dan akurat.
    </div>
    <a href="pink.html">
    <div class="buttonaiutama-2">
      <img class="emojiaii" src="templates/images/sahh/emoji.png" />
      <div class="ct-akananaii">Klik Disini</div>
      <div class="back-ct-akananaii"></div>
      </a>
    </div>
  </div>
  <div class="framectaig">
    <div class="backfthaa-2"></div>
    <img class="fthaa-2" src="templates/images/sahh/fthaa2.png" />
    <div class="backtransp-bawh-1"></div>
    <div class="back-bodymobilebawah"></div>
    <div class="ct-aig">Klik Disini</div>
    <div class="back-ct-aig" id="openInstagram"></div>
    <div class="ttskctaig">
      Lihat keseruan, kebersamaan, dan jejak kecil kami selama KKN
    </div>
    <div class="backlogo-19-bawah"></div>
    <img class="logo-19-bwh" src="templates/images/sahh/logo19.png" />
    <div class="kkn-teritip-19">@kkn.teritip19</div>
    <div class="linebwhig"></div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const menuFrame = document.querySelector(".menuframe");
    const framePalingAtas = document.querySelector(".framepalingatas");
    const backButton = document.querySelector(".bc-2-pwbackicoon");

    // Tampilkan frame ketika menu diklik
    menuFrame.addEventListener("click", function() {
      framePalingAtas.style.display = "block";
    });

    // Sembunyikan frame ketika tombol kembali diklik
    backButton.addEventListener("click", function() {
      framePalingAtas.style.display = "none";
    });
  });

    document.addEventListener("DOMContentLoaded", function () {
    const openMapButton = document.getElementById('openMapButton');

    if (openMapButton) {
      openMapButton.addEventListener('click', function () {
        window.open(
          'https://www.google.com/maps/place/Gunung+Binjai/@-1.1223338,116.8921038,24287m/data=!3m1!1e3!4m6!3m5!1s0x2df14d0ece7dab51:0x481aa08cbb4f60a7!8m2!3d-1.1386753!4d116.9564051!16s%2Fg%2F11kjpsmm0c?entry=ttu&g_ep=EgoyMDI1MDgxMS4wIKXMDSoASAFQAw%3D%3D',
          '_blank'
        );
      });
    }
  });

    document.addEventListener("DOMContentLoaded", function () {
    const instagramButton = document.getElementById('openInstagram');

    if (instagramButton) {
      instagramButton.addEventListener('click', function () {
        window.open(
          'https://www.instagram.com/kkn.teritip19/',
          '_blank'
        );
      });
    }
  });
</script>