<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Halaman Utama</title>
  <link rel="stylesheet" href="static/css/kkn5js.css" />
  <link href="https://fonts.googleapis.com/css2?family=Adamina&display=swap" rel="stylesheet"> 
</head>
  <div class="frame-utama">
    <video class="vidfix" autoplay muted loop playsinline>
    <source src="templates/videos/vidfix-dtw.mp4" type="video/mp4" />
    Browser anda tidak mendukung pemutaran video.
    </video>
    <div class="frame-top-header">
      <div class="backheader-1"></div>
      <img class="logo-binjaiku" src="templates/images/sahh/logoBinjaiku.png" />
      <div class="menuframe">
        <img class="menu" src="templates/images/sahh/menu.png" />
      </div>
             <div class="framepalingatas" style="display: none;">
      <div class="bc-2-pw-5"></div>
      <a href="/kkn5">
      <div class="h-5">Daya Tarik Wisata</div>
      </a>
      <a href="/kkn4">
      <div class="bc-2-pw-4"></div>
      <div class="h-4">Kehidupan Warga</div>
      </a>
      <a href="/kkn3">
      <div class="bc-2-pw-3"></div>
      <div class="h-3">Profil Wilayah</div>
      </a>
      <a href="/kkn2">
      <div class="bc-2-pw-2"></div>
      <div class="h-2">Tentang</div>
      </a>
      <a href="/kkn1">
      <div class="bc-2-pw-1"></div>
      <div class="h-1">Beranda</div>
      </a>
      <div class="bc-2-pwbackicoon">
      <img class="backicoon" src="templates/images/sahh/backicoon.svg" /></div>
      </div>
    </div>
      </div>
    </div>
    <div class="frame-headline">
      <div class="back-body-1"></div>
    <div class="headline-utama-lp">
      Jalan Terbuka,
      <br />
      Alam Menyapa
    </div>
    <div class="back-bodymobile"></div>
    <div class="subheadline-1">
      Dari jalan setapak berlumpur hingga aspal bantuan pemerintah, akses
      membuka peluang. Gunung Binjai kini hadir bukan hanya dengan fasilitas,
      tetapi juga potensi wisata yang membumi dan menghidupi.
    </div>
      <div class="subheadline-to-cta">
        Jelajahi bagaimana tanah ini membentuk orang-orangnya dan bagaimana
        mereka membentuk masa depan.
      </div>
      <div class="back-ct-akiri" id="openMapButton"></div>
      <div class="ct-akiri">Mulai Menjelajah</div>
    </div>
  </div>
  <div class="frame-present">
    <div class="back-kami"></div>
    <div class="bykami-headline">Dipersembahkan Oleh :</div>
    <img class="logo-um" src="templates/images/sahh/logoUM.png" />
    <img class="logo-19" src="templates/images/sahh/logo19.png" />
  </div>
  <div class="frame-konten">
    <div class="backkonten"></div>
    <div class="group-headisi">
      <div class="kehidupan-warga">KEHIDUPAN WARGA</div>
      <div class="line-22"></div>
    </div>
    <div class="frame-1">
      <div class="a-backblur-1"></div>
      <div class="ahead-1">Fasilitas Jalan &amp; Transportasi</div>
      <div class="asub-1">
        Dari jalan tanah hingga aspal, bagaimana akses mengubah wajah desa?
      </div>
      <div class="aback-1"></div>
      <div class="acta-1">Baca Selengkapnya...</div>
      <img class="image-1-a-03" src="templates/images/sahh/image1_A03.png" />
    </div>
    <div class="frame-2">
      <div class="b-backblur-1"></div>
      <div class="bhead-1">Pasar Tumpah Pringgodani</div>
      <div class="bsub-1">
        Pasar unik dengan uang kayu dan budaya Jawa, jadi magnet bagi warga dan
        wisatawan.
      </div>
      <div class="bback-1"></div>
      <div class="bcta-1">Baca Selengkapnya...</div>
      <img class="image-1-b-03" src="templates/images/sahh/image1_B03.png" />
    </div>
    <div class="frame-3">
      <div class="c-backblur-1"></div>
      <div class="chead-1">Agrowisata Pertanian</div>
      <div class="csub-1">
        Belajar langsung menanam, merawat, hingga panen sayur dan tanaman khas
        desa.
      </div>
      <div class="cback-1"></div>
      <div class="ccta-1">Baca Selengkapnya...</div>
      <img class="image-1-c-03" src="templates/images/sahh/image1_C03.png" />
    </div>
    <div class="frame-4">
      <div class="d-backblur-1"></div>
      <div class="dhead-1">Agrowisata Peternakan</div>
      <div class="dsub-1">
        Dari memberi pakan sapi hingga mengenal kandang, pengalaman edukatif
        yang jarang ditemui.
      </div>
      <div class="dback-1"></div>
      <div class="dcta-1">Baca Selengkapnya...</div>
      <img class="image-1-d-03" src="templates/images/sahh/image1_D03.png" />
    </div>
    <div class="frame-5">
      <div class="e-backblur-1"></div>
      <div class="ehead-1">Agrowisata Gaharu &amp; Kebun Pringgodani</div>
      <div class="esub-1">
        Ratusan pohon gaharu dan suasana pedesaan jadi ruang belajar sekaligus
        tempat rekreasi.
      </div>
      <div class="eback-1"></div>
      <div class="ecta-1">Baca Selengkapnya...</div>
      <img class="image-1-e-03" src="templates/images/sahh/image1_E03.png" />
    </div>
    <div class="frame-6">
      <div class="f-backblur-1"></div>
      <div class="fhead-1">Pemancingan Pondok Nipah</div>
      <div class="fsub-1">
        Suasana tenang dengan kolam ikan, tempat tepat melepas penat di alam
        terbuka.
      </div>
      <div class="fback-1"></div>
      <div class="fcta-1">Baca Selengkapnya...</div>
      <img class="image-1-f-03" src="templates/images/sahh/image1_F03.png" />
    </div>
    <div class="frame-7">
      <div class="g-backblur-1"></div>
      <div class="ghead-1">Agrowisata Persawahan</div>
      <div class="gsub-1">
        Sawah luas yang bukan hanya sumber pangan, tapi juga destinasi wisata
        edukasi.
      </div>
      <div class="gback-1"></div>
      <div class="gcta-1">Baca Selengkapnya...</div>
      <img class="image-1-g-03" src="templates/images/sahh/image1_G03.png" />
    </div>
    <div class="frame-8">
      <div class="h-backblur-1"></div>
      <div class="hhead-1">Perkebunan Buah Desa</div>
      <div class="hsub-1">
        Durian, rambutan, dan salak yang dulu jadi ikon. Apa rahasia manisnya
        hasil bumi ini?
      </div>
      <div class="hback-1"></div>
      <div class="hcta-1">Baca Selengkapnya...</div>
      <img class="image-1-h-03" src="templates/images/sahh/image1_H03.png" />
    </div>
    <div class="frame-9">
      <div class="i-backblur-1"></div>
      <div class="ihead-1">Perkebunan Karet</div>
      <div class="isub-1">
        Dari getah karet warga mendapat penghidupan stabil. Bagaimana tradisi
        ini terus lestari?
      </div>
      <div class="iback-1"></div>
      <div class="icta-1">Baca Selengkapnya...</div>
      <img class="image-1-i-03" src="templates/images/sahh/image1_I03.png" />
    </div>
  </div>
    <div class="frame-ai">
    <div class="back-kamiaii"></div>
    <div class="backfotobawah-0"></div>
    <div class="head-1-ai">Mari Gunakan fitur Tanya BinjaiAI</div>
    <div class="line-2"></div>
    <img class="maskotai" src="templates/images/sahh/maskotai.png" />
    <div class="sub-1-ai">
      Tanya BinjaiAI adalah asisten digital yang memudahkan siapa saja baik
      warga, pelajar, peneliti, hingga pemerintah untuk mencari informasi
      tentang Gunung Binjai dengan cepat dan akurat.
    </div>
    <div class="buttonaiutama-2">
      <img class="emojiaii" src="templates/images/sahh/emoji.png" />
      <div class="ct-akananaii">Klik Disini</div>
      <div class="back-ct-akananaii"></div>
    </div>
  </div>
  <div class="framectaig">
    <div class="backfthaa-2"></div>
    <img class="fthaa-2" src="templates/images/sahh/fthaa2.png" />
    <div class="backtransp-bawh-1"></div>
    <div class="back-bodymobilebawah"></div>
    <div class="ct-aig">Klik Disini</div>
    <div class="back-ct-aig" id="openInstagram"></div>
    <div class="ttskctaig">
      Lihat keseruan, kebersamaan, dan jejak kecil kami selama KKN
    </div>
    <div class="backlogo-19-bawah"></div>
    <img class="logo-19-bwh" src="templates/images/sahh/logo19.png" />
    <div class="kkn-teritip-19">@kkn.teritip19</div>
    <div class="linebwhig"></div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    const menuFrame = document.querySelector(".menuframe");
    const framePalingAtas = document.querySelector(".framepalingatas");
    const backButton = document.querySelector(".bc-2-pwbackicoon");

    // Tampilkan frame ketika menu diklik
    menuFrame.addEventListener("click", function() {
      framePalingAtas.style.display = "block";
    });

    // Sembunyikan frame ketika tombol kembali diklik
    backButton.addEventListener("click", function() {
      framePalingAtas.style.display = "none";
    });
  });

    document.addEventListener("DOMContentLoaded", function () {
    const openMapButton = document.getElementById('openMapButton');

    if (openMapButton) {
      openMapButton.addEventListener('click', function () {
        window.open(
          'https://www.google.com/maps/place/Gunung+Binjai/@-1.1223338,116.8921038,24287m/data=!3m1!1e3!4m6!3m5!1s0x2df14d0ece7dab51:0x481aa08cbb4f60a7!8m2!3d-1.1386753!4d116.9564051!16s%2Fg%2F11kjpsmm0c?entry=ttu&g_ep=EgoyMDI1MDgxMS4wIKXMDSoASAFQAw%3D%3D',
          '_blank'
        );
      });
    }
  });

    document.addEventListener("DOMContentLoaded", function () {
    const instagramButton = document.getElementById('openInstagram');

    if (instagramButton) {
      instagramButton.addEventListener('click', function () {
        window.open(
          'https://www.instagram.com/kkn.teritip19/',
          '_blank'
        );
      });
    }
  });
</script>

